<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newland.homecontrol">

    <uses-permission android:name="android.permission.INTERNET" /><!-- 网络权限 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FunctionSelectActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.CurtainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RoomSelectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.BedroomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.LivingRoomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.StudyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TimeSetActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogStyle"
            />
    </application>

</manifest>